.aboutMe{
  background-color: white;
  width: 85%;
  margin: auto;
  height: 100vh;
  .title_aboutMe{
    color: #7E5109 ;
    font-size: 35px;
  }
  .cover_aboutMe{
    width: 100%;
    height: 70%;
    background-color: #7E5109;
  }
}