.aboutMe {
 
  width: 100%;
  // margin: auto;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: Verdana, sans-serif;

  .cover_aboutMe {

    // position:absolute;
    align-items: center;
    margin: 0px auto;
    width: 98%;
    height: 100vh;
    // border-radius: 50px;
    // background-color: #5DADE2;

    .title_aboutMe {
      padding-top: 60px;
      // text-align: center;
      padding: 50px;
      color: #000000;
      font-size: 35px;
      font-weight: bold;
    }
   
    .cover_aboutme2{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .cover_write_aboutMe {
        // margin: auto;
        width: 40%;
        // width: 0;
        // height: 0;
      
        .write_aboutMe {
          // text-align: center;
          color: #000000;
          font-size: 25px;
        }
      }
  
      .cover_me {
        border-radius: 50% 50% 0 0;
        width: 400px;
        height: 400px;
        background-color: #97c3fd;
        border: solid 5px rgb(117, 117, 117);

        .me {
  
          width: 200px;
          height: 400px;
        }
  
      }

    }
   

    .book_me {
      margin: 20px;
      width: 200px;
      height: 200px;
      border-radius: 50%;

      .book_me_img {
        width: 200px;
        height: 200px;
      }
    }

  }
}
@import'./responsive/aboutRes.scss'