.aboutMe {

  width: 100%;
  margin-bottom: 50px;
  height: auto;
  background-color: #EC7063;
  margin-top: 100px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .cover_aboutMe {

    // position:absolute;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    // height: 100vh;
    // border-radius: 50px;
    // background-color: #5DADE2;


    //  @media(prefers-reduced-motion: no-preference){


    .cover_aboutme2 {
      overflow: clip;
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
     
      // nimation: fade-in linear forwards;
      // -webkit-animation: fade-in linear forwards;
      // -moz-animation: fade-in linear forwards;
      // -o-animation: fade-in linear forwards;
      animation: fade-in linear ;
      animation-timeline: view();
      animation-range: 500px;

      @keyframes fade-in {
        0%{
          scale: 1;
          opacity: 1;
        }
        100%{
          scale: .6;
          opacity: 8;
        }

      }

      .title_aboutMe {

        width: 60%;
        color: #000000;
        font-size: 35px;
        font-weight: bold;

        .cover_write_aboutMe {
          font-weight: normal;

          // width: 0;
          // height: 0;

          .write_aboutMe {
            // text-align: center;
            color: #000000;
            font-size: 25px;
          }
        }
      }


      .cover_me {
        border-radius: 50% 50% 0 0;
        width: 400px;
        height: 400px;
        background-color: #97c3fd;
        border: solid 5px rgb(117, 117, 117);

        .me {

          width: 200px;
          height: 400px;
        }

      }

    }


    .book_me {
      margin: 20px;
      width: 200px;
      height: 200px;
      border-radius: 50%;

      .book_me_img {
        width: 200px;
        height: 200px;
      }
    }

  }

  // }

}

@import'./responsive/aboutRes.scss'