.red {
  // border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: red;
}


.green {
  // border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: green;

}

.yellow {
 
  // border-radius: 20px;
  width: 102%;
  height: 100%;
  background-color: yellow;
}