.contactMe {
  // background-color: #495467;
  // background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 10px;

  // background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),rgb(184, 134, 11);
  background: cover;



  .title_contact {
    color: #4d1909;
    font-size: 35px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }

  .social_media {

    margin-top: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background: linear-gradient(white, rgb(165, 165, 165), white);
    float: right;

    .write_social {
      color: rgb(0, 0, 0);
      font-size: 20px;
      text-align: center;
      font-weight: bold;
    }

    .media_img {
      // position: absolute;
      margin-top: 5px;
      margin-left: 40px;
      width: 40px;
      height: 40px;
      // filter: sepia(100%);
      filter:sepia(100%) saturate(600%) hue-rotate(10000deg);
      //     //  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
      //
      // filter: sepia(100%) saturate(500%) hue-rotate(10deg);
      &::after {
       
      }


    }

    // }


  }


}