.contactMe{
  border-radius: 100px;
  background-color: white;
  width: 100%;
  height: 70vh;
  background-image: url(./../images/bgGrey.png);
   background-size: cover;
  // background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),rgb(184, 134, 11);
  background: cover;
  .wrap_contact{
    width: 70%;
    margin: auto;
    .title_contact{
      color: #4d1909;
      font-size: 35px;
      padding: 20px;
      text-align: center;
      font-weight: bold;
    }
    .social_media {
      margin-top: 80px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .write_social {
        color: white;
        font-size: 20px;

      }
     
        .media_img {
          margin: 20px;
          width: 80px;
          height: 80px;
          // width: 32px;
          aspect-ratio: auto 32 / 32;
          // height: 32px;
          overflow-clip-margin: content-box;
          overflow: clip;
         
        
          
          img {
            background-color: red;
          }
         
          &:hover {
            filter: brightness(120%);
            width: 60px;
            height: 60px;
            filter: grayscale(100%);
          }
        }
      // }

    }
  }

  
}