.education {
  //background-color:#EE696B #523A78;
  // background-image: linear-gradient(to right, #faa287 ,#709e34, rgb(102, 102, 37));
  width: 100%;
  min-height: 100vh;
  font-family: Verdana, sans-serif;
  //  background-size: cover;
  // background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),rgb(184, 134, 11);
  // background-color: #495467;

  .edu_wrap {
    .edu_title {
      color: #000000;
      font-size: 40px;
      padding: 50px;
      // text-align: center;
      font-weight: bold;
    }

    .cover_img_edu {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center;
      .cover_edu_img_hs {
        border-radius: 15px;
        align-items: center;
        width: 400px;
        height: 400px;
        background-color: rgb(255, 255, 255);
        margin: 20px;
        .img_hs {
          align-items: center;
          border-radius: 50%;
          width: 200px;
          height: 200px;

        }
        .hs{
          font-weight: bold;
          text-align: center;
          font-size: 22px;
          color: rgb(16, 87, 16);
          padding: 4px;
        }
        .detail_hs{
          text-align: center;
          font-size: 17px;
          color: rgb(16, 87, 16);
          padding: 4px;
        }
      }

      .cover_edu_img_uni {
        border-radius: 15px;
        width: 400px;
        height: 400px;
        background-color: rgb(255, 255, 255);
        margin: 20px;
        .img_uni {
          border-radius: 50%;
          width: 200px;
          height: 200px;

        }
        .university{
          font-weight: bold;
          text-align: center;
          font-size: 22px;
          color: rgb(16, 87, 16);
          padding: 4px;
        }
        .detail_uni{
          text-align: center;
          font-size: 17px;
          color: rgb(16, 87, 16);
          padding: 4px;
        }
      }

    }

  }
}
@import'./responsive/educationRes.scss';