.framework{
  background-color: white;
  width: 100%;
  min-height: 100vh;
   
    object-fit: contain;
     background: cover;
    // background-image: url(./../images/bgt.jpg);

  .cover_frame{
    max-width: 90%;
    margin: auto;
    
    .title_frame{
      color: #4d1909;
      font-size: 35px;
      padding: 20px;
      text-align: center;
      font-weight: bold;
     
    }
    
    .frame {
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;
      .frame_image1{
        border-radius: 50%;
        width: 400px;
        height: 400px;
      margin: auto;
        .image1{
          border: solid 7px #ff7b00;;
          border-radius: 50%;
          width: 400px;
          height: 400px;
        }
        .triangle-left {
          position: absolute;
          margin-left: -95px;
          margin-top: -250px;
          width: 0;
          height: 0;
          border-top: 30px solid transparent;
          border-right: 100px solid #ff7b00;
          border-bottom: 30px solid transparent;
        }
        .triangle-right {
          position: absolute;
          margin-left: 406px;
          margin-top: -245px;
          width: 0;
          height: 0;
          border-top: 30px solid transparent;
          border-left: 100px solid #ff7b00;
          border-bottom: 30px solid transparent;
        }
      }
      .image_wrap_frame {
        border-radius: 15px;
        margin: auto;
        border: solid 4px black;
        background-color: rgb(51, 59, 102);
        width: 200px;
        height: 200px;
        align-items: center;
        .image_frame {
          align-items: center;
          margin: auto;
          width: 120px;
          height: 120px;
        }
        .wrap_ww_frame{
          .write_frame {
            text-align: center;
            font-size: 20px;
            color: rgb(255, 255, 255);
          }
          .write_frame2 {
            text-align: center;
            font-size: 20px;
            color: rgb(204, 199, 235)
          }
        }
      }

    }
  }
}