.project {
  width: 100%;
  min-height: 80vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  .cover_pro {
    
    margin: auto;
    .title_pro {
      color: #000000;
      font-size: 40px;
      padding: 20px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 80px;
    }

    .cover_inside_pro {
      
      width: 95%;

      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
      .cover_inside_pro2 {
        width: 23%;
        margin: 10px;
        .cover_pro_image {
         
          
          height: 200px;
          font-size: 20px;
          color: rgb(255, 255, 255);
          margin: auto;
          .pro_image { 
            filter: brightness(40%) contrast(50%);
             width: 100%;
            height: 200px;
            &:hover{
              color: transparent;
              filter: brightness(100%);
              // grayscale: 1;
              transition: 0.3s ;
            } 
          }
          .pro_img_write{
            color: rgb(255, 255, 255);
             filter: brightness(100%);
            margin-top: -205px;
            padding: 20px;
            text-align: center;
            margin-left: 1px;
           
            &:hover{
             
              color: transparent;
              // filter: brightness(100%);
              // transition: 0.1s ;
            }
          }
          &:hover{
            font-size: 0;
            color: transparent;
             filter: brightness(100%);
            //  transition: 0.3s;
            //  grayscale: 1;
          }
         
        }
       

        .cover_pro_write {
          text-align: center;
          .pro_write {
            font-size: 20px;
            color: black;
            font-weight: bold;
          }
          .pro_write2{
            font-size: 20px;
          }
        }
      }

    }
  }
}
@import'./responsive/projectRes.scss';