.project {
  width: 100%;
  min-height: 60vh;
  // background-color: #495467;
  background: linear-gradient(white, #495467);
 
  .cover_pro {
    
    margin: auto;
    .title_pro {
      color: #4d1909;
      font-size: 35px;
      padding: 20px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 80px;
    }

    .cover_inside_pro {
      

      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
      .cover_inside_pro2 {
       
        margin: 20px;
        .cover_pro_image {
          width: 270px;
          height: 200px;
          filter: brightness(10%);
          margin: auto;
          .pro_image {
            width: 270px;
            height: 200px;
          }
          &:hover{
            filter: brightness(100%);
          }
        }
       

        .cover_pro_write {
          text-align: center;
          .pro_write {
            font-size: 20px;
            color: black;
            font-weight: bold;
          }
          .pro_write2{
            font-size: 20px;
          }
        }
      }

    }
  }
}