.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 50px !important;
  
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  // top: -40px;
  background: cover;
  background-image: url(../images/blue2.jpg);
  // width: 100%;
  min-height: auto;
  .wrap {
    max-width: 1440px !important;
    
    width: 100%;

    .wrap_skills {
      // padding: 20px;
      width: 100%;
      margin: auto;
      // background-color: rgb(162, 182, 89);
      border-radius: 15px;

      .title_skills {
        color: #000000;
        font-size: 40px;
        padding: 20px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 80px;

        .title_skills_small {
          margin: auto;
          width: 80%;
          color: #000000;
          font-size: 20px;
          // padding: 20px;
          text-align: center;
          font-weight: normal;

        }
      }


      .ability {

        //   scale:1; opacity:1;
        //   animation: fade-in linear forwards;
        //   animation-timeline: view();
        //  animation-range: 500px;

        .image_wrap_skills {
          max-height: 100%;
          padding-bottom: 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 90%;
          margin: auto;

          .tools_cover_skills_blue {
            box-shadow: 4px 4px 10px rgb(77, 71, 71);
            background-color: rgb(191, 226, 255);
            width: 20%;
            margin: 10px;
            padding: 20px;
            border-radius: 15px;
            height: 200px;

            .image_cover_skills {
              width: 70px;
              height: 100px;
              margin: auto;

              .image_skills {
                width: 70px;

              }
            }

            .wrap_ww_skills {
              .write_skills {
                font-weight: bold;
                font-size: 20px;
                color: rgb(0, 0, 0);
                text-align: center;
              }

              .write_skills2 {
                text-align: center;
                font-size: 20px;
                color: rgb(0, 0, 0);
              }
            }

            // &:hover {
            //   background-color: rgb(191, 194, 202);
            //   color: rgb(255, 255, 255);
            //   filter: brightness(100%);
            // }

          }

          .tools_cover_skills_pink {
            box-shadow: 4px 4px 10px rgb(77, 71, 71);
            width: 20%;
            margin: 10px;
            padding: 20px;
            border-radius: 15px;
            height: 200px;
            background-color: rgb(253, 209, 216);

            .image_cover_skills2 {
              width: 70px;
              height: 100px;
              margin: auto;

              .image_skills2 {
                width: 70px;

              }
            }

            .wrap_ww_skills2 {
              .write_skills2 {
                font-weight: bold;
                font-size: 20px;
                color: rgb(0, 0, 0);
                text-align: center;
              }

              .write_skills22 {
                font-size: 20px;
                color: rgb(0, 0, 0);
                text-align: center;
              }
            }


          }
        }
      }



    }
  }

  // @keyframes fade-in{
  //   to{scale: .6; opacity:0;}

  // }

}

@import'./responsive/progRes.scss'