.skills {
  .wrap {
    width: 100%;
    min-height: 100vh;
    // position: static;
    // object-fit: cover;
    // background-size: cover;
    // background: cover;
    // background-image: url(./../images/orange.png);



    .wrap_skills {
      padding: 20px;
      width: 90%;
      margin: auto;
      // background-color: rgb(162, 182, 89);
      border-radius: 15px;

      .title_skills {
        color: #4d1909;
        font-size: 35px;
        padding: 20px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 80px;
      }


      .ability {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .programming {
          width: 40%;
          height: 100%;

          .iage_pro {
            width: 40%;
            height: 100px;
          }

        }

        .image_wrap_skills {
          width: 50%;
          max-height: 100%;
          padding-bottom: 20px;
          display: flex;
          flex-wrap: wrap;
          background-color: rgb(255, 255, 255);
          // margin: 20px;
          border-radius: 15px;
          // justify-content: flex-start;

          .tools_cover_skills {
            // background-color: rgb(253, 212, 164);
            margin: auto;
            width: 100px;
            padding: 20px;
            // align-items: center;
            
            border: solid 9px rgb(59, 20, 20);
            min-width: 100px;
            min-height: 100px;

            .image_cover_skills {

              // height: 100px;

              .image_skills {
                width: 100px;

              }
            }

            .wrap_ww_skills {
              // height: 100px;

              .write_skills {
                text-align: center;
                font-size: 20px;
                color: rgb(0, 0, 0);
              }

              .write_skills2 {
                text-align: center;
                font-size: 20px;
                color: rgb(0, 0, 0);
              }
            }

          }


        }


      }
    }
  }

}