@media (min-width: 1440px) {
  .education {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    .edu_wrap {
      .edu_title {
        color: #000000;
        font-size: 40px;
        padding: 50px;
        // text-align: center;
        font-weight: bold;
      }
  
      .cover_img_edu {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        .cover_edu_img_hs {
          border-radius: 15px;
          align-items: center;
          width: 400px;
          height: 400px;
          background-color: rgb(255, 255, 255);
          margin: 20px;
          .img_hs {
            align-items: center;
            border-radius: 50%;
            width: 200px;
            height: 200px;
  
          }
          .hs{
            font-weight: bold;
            text-align: center;
            font-size: 22px;
            color: rgb(16, 87, 16);
            padding: 4px;
          }
          .detail_hs{
            text-align: center;
            font-size: 17px;
            color: rgb(16, 87, 16);
            padding: 4px;
          }
        }
  
        .cover_edu_img_uni {
          border-radius: 15px;
          width: 400px;
          height: 400px;
          background-color: rgb(255, 255, 255);
          margin: 20px;
          .img_uni {
            border-radius: 50%;
            width: 200px;
            height: 200px;
  
          }
          .university{
            font-weight: bold;
            text-align: center;
            font-size: 22px;
            color: rgb(16, 87, 16);
            padding: 4px;
          }
          .detail_uni{
            text-align: center;
            font-size: 17px;
            color: rgb(16, 87, 16);
            padding: 4px;
          }
        }
  
      }
  
    }
  }
  
}

@media (max-width: 768px) {
  .education {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .edu_wrap {
      .edu_title {
        color: #000000;
        font-size: 35px;
        padding: 50px;
        text-align: center;
        font-weight: bold;
      }

      .cover_img_edu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .cover_edu_img_hs {
          border-radius: 15px;
          align-items: center;
          width: 100%;
          height: 400px;
          background-color: rgb(255, 255, 255);
          margin: 20px;

          .img_hs {
            align-items: center;
            border-radius: 50%;
            width: 200px;
            height: 200px;

          }

          .hs {
            font-weight: bold;
            text-align: center;
            font-size: 22px;
            color: rgb(16, 87, 16);
            padding: 4px;
          }

          .detail_hs {
            text-align: center;
            font-size: 17px;
            color: rgb(16, 87, 16);
            padding: 4px;
          }
        }

        .cover_edu_img_uni {
          border-radius: 15px;
          width: 100%;
          height: 300px;
          background-color: rgb(255, 255, 255);
          margin: 20px;

          .img_uni {
            border-radius: 50%;
            width: 200px;
            height: 200px;

          }

          .university {
            font-weight: bold;
            text-align: center;
            font-size: 22px;
            color: rgb(16, 87, 16);
            padding: 4px;
          }

          .detail_uni {
            text-align: center;
            font-size: 17px;
            color: rgb(16, 87, 16);
            padding: 4px;
          }
        }

      }

    }
  }
}
@media (max-width: 450px) {
  .education {
   
    .edu_wrap {
      .edu_title {
        color: #000000;
        font-size: 25px;
        padding: 50px;
        text-align: center;
        font-weight: bold;
      }

      .cover_img_edu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .cover_edu_img_hs {
          border-radius: 15px;
          align-items: center;
          width: 100%;
          height: 400px;
          background-color: rgb(255, 255, 255);
          margin: 20px;

          .img_hs {
            align-items: center;
            border-radius: 50%;
            width: 200px;
            height: 200px;

          }

          .hs {
            font-weight: bold;
            text-align: center;
            font-size: 22px;
            color: rgb(16, 87, 16);
            padding: 4px;
          }

          .detail_hs {
            text-align: center;
            font-size: 17px;
            color: rgb(16, 87, 16);
            padding: 4px;
          }
        }

        .cover_edu_img_uni {
          border-radius: 15px;
          width: 100%;
          height: 300px;
          background-color: rgb(255, 255, 255);
          margin: 20px;

          .img_uni {
            border-radius: 50%;
            width: 200px;
            height: 200px;

          }

          .university {
            font-weight: bold;
            text-align: center;
            font-size: 22px;
            color: rgb(16, 87, 16);
            padding: 4px;
          }

          .detail_uni {
            text-align: center;
            font-size: 17px;
            color: rgb(16, 87, 16);
            padding: 4px;
          }
        }

      }

    }
  }
}