@media (max-width: 1440px) {
  .education {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    .edu_wrap {
      max-width: 1440px;
      .edu_title {
        color: #000000;
        font-size: 40px;
        padding: 50px;
        // text-align: center;
        font-weight: bold;
      }
  
      .cover_img_edu {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        .cover_edu_img_hs {
        
          .img_hs {
           
  
          }
          .hs{
           
          }
          .detail_hs{
           
          }
        }
  
        .cover_edu_img_uni {
         
          .img_uni {
           
  
          }
          .university{
            
          }
          .detail_uni{
           
          }
        }
  
      }
  
    }
  }
  
}

@media (max-width: 768px) {
  .education {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .edu_wrap {
      .edu_title {
        color: #000000;
        font-size: 35px;
        padding: 50px;
        text-align: center;
        font-weight: bold;
      }

      .cover_img_edu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .cover_edu_img_hs {
         
          .img_hs {
           
          }

          .hs {
          
          }

          .detail_hs {
          
          }
        }

        .cover_edu_img_uni {
         

          .img_uni {
         

          }

          .university {
           
          }

          .detail_uni {
           
          }
        }

      }

    }
  }
}
@media (max-width: 450px) {
  .education {
   
    .edu_wrap {
      .edu_title {
        color: #000000;
        font-size: 25px;
        padding: 50px;
        text-align: center;
        font-weight: bold;
      }

      .cover_img_edu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .cover_edu_img_hs {
         

          .img_hs {
       
          }

          .hs {
           
          }

          .detail_hs {
           
          }
        }

        .cover_edu_img_uni {
          

          .img_uni {
           

          }

          .university {
           
          }

          .detail_uni {
           
          }
        }

      }

    }
  }
}