@media (max-width: 1440px) {
  .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1440px;
    .cover_pro {
      
      margin: auto;
      .title_pro {
        font-size: 40px;
      }
  
      .cover_inside_pro {
       
        .cover_inside_pro2 {
         
          
          .cover_pro_image {
           
   
            .pro_image { 
              
              &:hover{
                // animation:  fill-2 3s infinite alternate, colors 5s infinite alternate;
              }
            }
            .pro_img_write{
             
              &:hover{
                // animation:  fill-2 3s infinite alternate, colors 5s infinite alternate;
                // color: transparent;
                // filter: brightness(100%);
              }
            }
            &:hover{
              // animation:  fill-2 3s infinite alternate, colors 5s infinite alternate;
            }
          
          }
         
  
          .cover_pro_write {
            text-align: center;
            .pro_write {
             
            }
            .pro_write2{
             
            }
          }
        }
  
      }
    }
  }
}

@media (max-width: 1024px) {
  .project {
   
    .cover_pro {
      
      margin: auto;
      .title_pro {
        font-size: 40px;
      }
  
      .cover_inside_pro {
       
        .cover_inside_pro2 {
          width: 46%;
          
          .cover_pro_image {
           
   
            .pro_image { 
              
              &:hover{
               
              }
            }
            .pro_img_write{
             
              &:hover{
               
                color: transparent;
                filter: brightness(100%);
              }
            }
            &:hover{
             
            }
           
          }
         
  
          .cover_pro_write {
            text-align: center;
            .pro_write {
             
            }
            .pro_write2{
             
            }
          }
        }
  
      }
    }
  }
}

@media (max-width: 450px) {
  .project {
   
    .cover_pro {
      
      margin: auto;
      .title_pro {
        font-size: 25px;
      }
  
      .cover_inside_pro {
       
        .cover_inside_pro2 {
          width: 92%;
          
          .cover_pro_image {
           
   
            .pro_image { 
              
              &:hover{
               
              }
            }
            .pro_img_write{
             
              &:hover{
               
                color: transparent;
                filter: brightness(100%);
              }
            }
            &:hover{
             
            }
           
          }
         
  
          .cover_pro_write {
            text-align: center;
            .pro_write {
             
            }
            .pro_write2{
             
            }
          }
        }
  
      }
    }
  }
}
